<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perpustakaan B - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="login-container">
        <h1>PERPUSTAKAAN B</h1>
        <form method="POST" action="{{ url_for('login_post') }}">
            <label for="username">Nama:</label>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Sandi:</label>
            <input type="password" id="password" name="password" required><br>
            <button type="submit">LANJUT</button>
        </form>
        <div class="description-box">
            <p>Aplikasi ini digunakan untuk meminjam buku pada perpustakaan (B), yang terletak pada daerah (B).</p>
        </div>
    </div>
    <footer>Copyright @PERPUSTAKAAN B</footer>
</body>
</html>
